   
   .open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .color{
    color: #FD6E0A;
  }
  /* nav style */
   nav{
      display: flex;
      align-items: center;
     justify-content: space-between;
     margin: 50px 200px;
    }
    .btn{
        background-color: #FD6E0A;
        color: white;
        font-size: 15px;
        border-radius: 5px;
        padding: 18px 35px;
        border: none;
    }
   
.title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;  
}
nav li a{
    text-decoration: none;
    font-size: 20px;

}
.dark2{
    color: #474747;
}
.hea{
    background-image:url('../web-de-repo/images/developer.png'),url('../web-de-repo/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left,bottom right;

}
.banner{
    display: flex;
    justify-content: space-between;
    margin:0 35px 230px ;

} 
.banner-greeting{
          font-size: 45px;
          font-weight: 600;
          margin: 40px ;
        }
.banner-title{
    font-weight: bold;
    font-size: 85px;
    margin: 40px ;
    
}
.profile-image{
    width: 585px;
}
.banner-cont{
    max-width:580px ;
    margin: 70px;
}
/* about me */
.section{
     font-size: 35px;
     font-weight: bold;
     color:#181818;

}
.common-text{
    font-size:13px ;
    font-weight: normal;
    color: #757575;

}
 . secondary-bg{ 
    color:#FFF8F3;
 } 
 
main{
  max-width:1140px ;
  margin: 0 auto;
  padding: 100px 120px;
  text-align: center;
  margin-top: 130px;
}
.item-des{
   font-weight: bold; 
}
.about-items{
   display: flex;
   justify-content:space-around ;
}
.text-center{
     text-align: center;
}